<div class="banner-cover" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://res.cloudinary.com/df8ytmvel/image/upload/v1583700615/header_srolzd.jpg);">

<!-- <div class="banner-cover" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.ytimg.com/vi/GqDwOY8BHZ0/hqdefault.jpg);"> -->
<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/df8ytmvel/image/upload/v1583694376/undraw_having_fun_iais_1_rw7e69.svg);"> -->
  <div>
    <div class="row">
      <div class="col-6">
      </div>
      <div class="col-6 text-center banner-parent">
        <h1 class="text-white"><strong>MAKE YOUR OWN BEER</strong></h1>
        <h2 class="mb-5"><span id="banner-typed-text" class="text-white"></span> <span class="text-warning fa fa-beer fa-w-14 fa-1x"></span></h2>

        <section class="portfolio-experiment">
          <a class="mt-9rem">
            <span class="text"> Commence l'aventure ici</span>
            <span class="line -right"></span>
            <span class="line -top"></span>
            <span class="line -left"></span>
            <span class="line -bottom"></span>
          </a>
        </section>
      </div>
    </div>
  </div>
</div>
