<div class="banner-cover" style="background-image: url(https://res.cloudinary.com/df8ytmvel/image/upload/v1585990854/taxidrive_tuaefl.png), linear-gradient(rgba(16,5,239,1),rgba(16,5,239,1));">

<!-- <div class="banner-cover" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.ytimg.com/vi/GqDwOY8BHZ0/hqdefault.jpg);"> -->
<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/df8ytmvel/image/upload/v1583694376/undraw_having_fun_iais_1_rw7e69.svg);"> -->
  <div>
    <div class="row">
      <div class="col-6">
        <img src="https://res.cloudinary.com/df8ytmvel/image/upload/v1585992062/5e74a63c1b329311d487af40_undraw_deliveries_131a_1_nsvhrg.png" alt="chauffeur livreur">
      </div>
      <div class="col-6 text-center banner-parent">
        <h1 class="text-white"><strong>Fais toi livrer tes courses</strong></h1>
        <h2 class="mb-5"><span id="banner-typed-text" class="text-white"></span> <span class="text-warning fas fa-shopping-cart"></span></h2>

        <section class="portfolio-experiment">
          <a href="<%= form_path %>" class="text-decoration-none">
            <span class="text"> Commande ton driver</span>
            <span class="line -right"></span>
            <span class="line -top"></span>
            <span class="line -left"></span>
            <span class="line -bottom"></span>
          </a>
        </section>


      </div>
    </div>
  </div>
</div>
